player-connection-mode=Listen
player-connection-guid=3358844700
player-connection-debug=0
player-connection-project-name=Little white
player-connection-ip=10.1.1.107
player-connection-ip=26.107.196.170
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ef84013eccd6405996c1e1d8b90a5b92
