player-connection-mode=Listen
player-connection-guid=1202859626
player-connection-debug=0
player-connection-project-name=Little white
player-connection-ip=192.168.50.107
player-connection-ip=26.118.157.197
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
nolog=
build-guid=d6d567d8107c458e932966891c5ef4f6
