player-connection-mode=Listen
player-connection-guid=2834140278
player-connection-debug=0
player-connection-project-name=Little white
player-connection-ip=192.168.50.107
player-connection-ip=26.118.157.197
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
nolog=
build-guid=741ffb97c04e4e07a17bf63091834546
